<%- include('layout/header') %>
<%- include('layout/nav') %>

<main class="container mt-4">
        <h2>About Us</h2>
        <p>We are working hard to bring you a better experience. Thank you for your patience!</p>
        <p>Alpenfohn<sup>™</sup></p>
</main>

<%- include('layout/footer') %>